* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .button {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.1;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}
.container .button::before {
    content: ' ';
    position: absolute;
    right: -18px;
    top: 12px;
    width: 20px;
    height: 30px;
    background: white;
    clip-path: polygon(100% 50%, 0 25%, 0 75%);
}