* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .button {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.1;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}
.container .button::before {
    content: ' ';
    position: absolute;
    right: -19px;
    top: 12px;
    width: 20px;
    height: 30px;
    background: white;
    clip-path: polygon(100% 50%, 0 25%, 0 75%);
}
.container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #333;
    box-shadow: 0 0 0 5px #444, 0 0 0 15px #fff, 0 0 0 18px black;
}
.container .wheel .number
{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(40deg * var(--i)));
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.container .wheel .number span {
    position: relative;
    transform: rotate(-135deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
}

.container .wheel .number span::after {
    position: absolute;
    font-size: 0.75em;
    font-weight: 500;
}

